@import 'reset.css';
* {
  padding: 0px;
  margin: 0px;
}
.mobile {
  display: none;
}
body {
  font-family: 'Roboto';
  font-style: normal;
  /* width: 100vw; */
}
.site {
  background-color: #f8f9ff;
  display: block;
  margin-left: calc(50vw - 800px);
  margin-right: calc(50% - 800px);
}
.top {
  position: relative;
  /* background-image: url('img/fold.png'); */
}
.top_fon {
  position: absolute;
  top: 0;
  z-index: 0;
}
.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 314px;
  padding-top: 50px;
  padding-bottom: 74px;
  z-index: 1;
}
.left_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 82px;
  margin-left: 210px;
}
.left_top a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.nav_top {
  display: flex;
  justify-content: space-around;
  gap: 36px;
}
.nav_top a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794ba;
}
.nav_top a:hover {
  color: white;
}
.right_top {
  display: flex;
  gap: 40px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794ba;
}
.btn_right_top {
  padding: 10px 53px;
  border: 1px solid #465b95;
  border-radius: 68px;
  color: #8794ba;
  background-color: transparent;
}
.right_top p:hover {
  color: white;
}
.btn_right_top:hover {
  color: white;
  background-color: #8794ba;
}
.top_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.top_text {
  width: 550px;
  margin-left: 210px;
  padding-top: 78px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 28px;
}
.top_text h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #ffffff;
}
.top_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794ba;
}
.top_text button {
  width: 238px;
  height: 50px;
  background: #ef2a82;
  border: #ef2a82;
  border-radius: 68px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 21px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.top_text button:hover {
  background: #fa81b7;
}
.top_img {
  margin-bottom: 94px;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
}
.features {
  padding-top: 38px;
  margin-left: 210px;
  margin-right: 210px;
}
.features h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #172755;
}
.features p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794ba;
  width: 1060px;
  margin-top: 30px;
}
.features_icon {
  padding-top: 81px;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.icon h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #172755;
}
.icon div {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #8794ba;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.icon img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.features_content {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}
.f_content {
  display: flex;
  gap: 100px;
}
.f_text {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.f_text h2 {
  margin-top: 89px;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #172755;
}
.f_text p {
  width: 480px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794ba;
}
.f_content img {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}
.pricing_plans {
  background-image: url('img/background-bottom.png');
  margin-top: 80px;
  padding-top: 272px;
  padding-bottom: 158px;
}
.price_plan {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.pricing_plans h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}
.pr_plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  background: #0f1f4b;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.pr_plan_p0 {
  margin-left: 480px;
  width: 640px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794ba;
}
.pr_plan_h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.pr_plan_p1 {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794ba;
  /* border-bottom: 0.5px solid #2a407c; */
}

.cherta {
  margin: 0;
  width: 220px;
  border-top: 0.5px solid #2a407c;
}
.pr_plan_p2 {
  margin-top: 28px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.pr_plan_p2 span {
  font-weight: 700;
  font-size: 20px;
}
.pr_plan_p3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #8794ba;
}
.pr_plan_btn {
  width: 200px;
  border: 1px solid #2a407c;
  border-radius: 68px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 16px 80px;
  margin-top: 40px;
  background-color: transparent;
}
.pr_plan:hover {
  background: #ffffff;
  box-shadow: 0px 18px 50px -15px #060f28;
}
.pr_plan:hover .pr_plan_h1 {
  color: #172755;
}
.pr_plan:hover .pr_plan_p1 {
  color: #8794ba;
  border-bottom: 0.5px solid #d3d9e9;
}
.pr_plan:hover .pr_plan_p2 {
  color: #172755;
}
.pr_plan:hover .pr_plan_btn {
  background: #ef2a82;
  border: 1px solid #ef2a82;
}

.bottom {
  padding-top: 109px;
  padding-left: calc(50% - 480px);
  padding-right: calc(50% - 480px);
  padding-bottom: 109px;
}
.bottom_in {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 58px;
  padding-right: 26px;
  padding-bottom: 47px;
}

.bottom_text {
  margin-top: 47px;
  width: 430px;
  padding-bottom: 45px;
}

.bottom_text_h2 {
  width: 430px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #160637;
  text-align: left;
}
.bottom__descr {
  margin-top: 75px;
  margin-bottom: 51px;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8989a2;
}

.bottom__descr::before,
.bottom__descr::after {
  position: absolute;
  content: '';
  width: 144px;
  height: 2px;
  background: #d6d6d6;
  top: 50%;
  /* transform: translateX(0); */
}

.bottom__descr::before {
  left: 0px;
}

.bottom__descr::after {
  right: 0px;
}
.bottom_logo {
  display: flex;
  flex-direction: column;
  gap: 67px;
}
.bottom_logo img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.bottom_logo1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.bottom_logo2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 110px;
}
.bottom_form {
  width: 428px;
  background: #ffffff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
  z-index: 1;
}
.bottom_form h3 {
  margin-top: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #160637;
}
.fon {
  width: 480px;
  height: 480px;
  position: absolute;
  z-index: 0;
  top: 42px;
  right: 0px;
  background: #f9f0ff;
}

.form__authorization {
  margin-bottom: 16px;
  margin-left: 38px;
  margin-right: 38px;
}

.form__authorization > * + * {
  margin-top: 16px;
}

.form__auth-btn {
  padding-left: 103px;
  padding-right: 104px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  background: #722ed1;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  transition: background 0.3s ease-in;
}

.form__auth-btn:hover {
  background: #ef2a82;
}

.form__auth {
  padding: 16px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #2a407c;
}

.form__auth::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #8989a2;
}
/* ?== */

.stars-title {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
.rating {
  width: 265px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
}
.rating {
  width: 265px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
}
.rating:not(:checked) > input {
  display: none;
}
.rating:not(:checked) > label {
  margin-right: 15px;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: lightgrey;
}
.rating:not(:checked) > label:before {
  content: '★';
}
.rating > input:checked ~ label {
  color: gold;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: gold;
}
.stars-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #8989a2;
  text-align: center;
}
.stars-text a {
  color: #722ed1;
}
.stars-text a:hover {
  color: rgb(150, 5, 5);
}
/* ==== */

.footer {
  background: #1f2f5c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 305px;
  padding-top: 64px;
  padding-bottom: 60px;
}
.logo_foot:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.nav_foot {
  display: flex;
  justify-content: space-around;
  gap: 36px;
}
.nav_foot a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794ba;
}
.nav_foot a:hover {
  color: white;
}
.social__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.socnet {
  width: 32px;
  height: 32px;
  background-color: #1f2f5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.socsvg path {
  fill: #8794ba;
}

.socnet:hover {
  background-color: #f16d7f;
}
.socnet:hover .socsvg path {
  fill: white;
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    width: 100vw;
  }

  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .top_fon {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }

  .site {
    width: 100vw;
    margin: 0px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    gap: 0;
    background: #172755;
    box-shadow: 0px 4px 4px #12214d;
  }
  .left_top {
    margin-left: 7%;
  }
  .left_top img {
    width: 138px;
  }

  .right_top {
    gap: 18px;
    margin-right: 7%;
  }
  .right_top img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .top_content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 26px;
  }
  .top_text h2 {
    font-size: 31px;
  }

  .top_text button {
    width: 335px;
    margin-bottom: 127px;
  }
  .top_img {
    margin-bottom: 0px;
  }
  .img_mob {
    margin-top: 30px;
    width: 90vw;
  }
  .top_text {
    width: 90vw;
    margin-left: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    align-items: center;
  }
  .top_text p {
    margin: 0;
  }

  .features {
    width: 100vw;
    padding-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .features h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .features p {
    margin-left: 5vw;
    font-size: 14px;
    line-height: 140%;
    width: 90%;
    margin-top: 20px;
    text-align: left;
  }
  .features_icon {
    padding-top: 40px;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .icon {
    width: 360px;
    align-items: flex-start;
    flex-direction: row;
    gap: 29px;
    margin-left: 2%;
  }
  .icon_text {
    margin: 0;
    width: 246px;
    gap: 9px;
    align-items: flex-start;
  }

  .icon div {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  .features_content {
    margin: 0;
    width: 370px;
    padding-top: 71px;
    margin-left: calc(50% - 185px);
    padding-left: 15px;
    gap: 60px;
  }
  .f_content {
    width: 360px;
    gap: 30px;
    flex-direction: column;
  }
  .f_con {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .f_text {
    margin-top: 0;
    width: 90%;
    gap: 20px;
  }

  .f_text h2 {
    margin-top: 0;
    font-size: 30px;
    line-height: 35px;
  }
  .f_text p {
    margin: 0;
    width: 330px;
    font-size: 14px;
    line-height: 140%;
  }
  .f_content img {
    margin: 0;
    width: 335px;
  }

  .pricing_plans {
    margin-top: 0px;

    padding-bottom: 200px;
  }
  .price_plan {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
  }
  .pricing_plans h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .pr_plan {
    width: 280px;
    background: #ffffff;
    box-shadow: 0px 18px 50px -15px #060f28;
  }
  .pr_plan_p0 {
    margin-left: calc(50% - 167px);
    width: 335px;
    font-size: 14px;
    line-height: 140%;
  }

  .pr_plan_h1 {
    font-size: 25px;
    line-height: 29px;
    color: #172755;
  }
  .pr_plan_p1 {
    width: 280px;
    padding-top: 7px;
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 140%;
    color: #8794ba;
  }

  .pr_plan_p2 {
    color: #172755;
    margin-top: 28px;
    font-size: 60px;
    line-height: 70px;
  }

  .pr_plan_p2 span {
    font-size: 35px;
  }
  .pr_plan_p3 {
    font-size: 13px;
    line-height: 140%;
  }
  .pr_plan_btn {
    width: 206px;
    background: #ef2a82;
    border: 1px solid #ef2a82;
    padding: 16px 80px;
    margin-top: 50px;
  }

  .bottom {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .bottom_in {
    padding-bottom: 0;
    gap: 0px;
    padding-right: 0;
    padding-left: calc(50% - 214px);
    padding-right: calc(50% - 214px);
  }

  .form__authorization {
    width: 280px;
    margin-bottom: 16px;
    margin-left: calc(50% - 140px);
    margin-right: calc(50% - 140px);
  }

  .footer {
    gap: 77px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .logo_foot {
    width: 124px;
  }

  .pr1 {
    width: 360px;
    height: 440px;
    position: absolute;
    left: calc(50% - 180px);
  }
  .pr1 p {
    border-bottom: 0;
  }
  .rating {
    justify-content: center;
    padding-left: 30px;
  }
}
